Repository openmsupply/remote-server, pull requests merged in 2022-04, with the labels that each got.

#1004 987 sync location
  repository/migrations/postgres/2022-01-27T08-00_create_changelog_table/up.sql
  repository/migrations/postgres/2022-02-23T10-15_create_location_trigger/down.sql
  repository/migrations/postgres/2022-02-23T10-15_create_location_trigger/up.sql
  repository/migrations/sqlite/2022-01-27T08-00_create_changelog_table/up.sql
  repository/migrations/sqlite/2022-02-23T10-15_create_location_trigger/down.sql
  repository/migrations/sqlite/2022-02-23T10-15_create_location_trigger/up.sql
  repository/src/schema/changelog.rs
  server/src/sync/integration_tests/invoice.rs
  server/src/sync/integration_tests/location.rs
  server/src/sync/integration_tests/mod.rs
  server/src/sync/integration_tests/remote_sync_integration_test.rs
  server/src/sync/integration_tests/stock_line.rs
  server/src/sync/integration_tests/stocktake.rs
  server/src/sync/translation_remote/location.rs
  server/src/sync/translation_remote/mod.rs
  server/src/sync/translation_remote/pull.rs
  server/src/sync/translation_remote/push.rs
  server/src/sync/translation_remote/test_data/location.rs
  server/src/sync/translation_remote/test_data/mod.rs
Labels: [remote sync]

#1008 987 remote sync optional tax
  server/src/sync/integration_tests/invoice.rs
  server/src/sync/translation_remote/invoice_line.rs
  server/src/sync/translation_remote/test_data/mod.rs
  server/src/sync/translation_remote/test_data/trans_line.rs
Labels: [remote sync]

#992 513 and 595 Add temporary mSupply details to name and item node
  graphql/types/src/types/item.rs
  graphql/types/src/types/name.rs
  repository/migrations/postgres/2021-08-15T10-00_create_name_table/up.sql
  repository/migrations/postgres/2021-09-05T10-00_create_item_table/up.sql
  repository/migrations/sqlite/2021-08-15T10-00_create_name_table/up.sql
  repository/migrations/sqlite/2021-09-05T10-00_create_item_table/up.sql
  repository/src/db_diesel/item_query.rs
  repository/src/db_diesel/name_query.rs
  repository/src/mock/item.rs
  repository/src/mock/name.rs
  repository/src/mock/test_item_stats.rs
  repository/src/mock/test_master_list_repository.rs
  repository/src/mock/test_name_store_id.rs
  repository/src/mock/test_outbound_shipment_update.rs
  repository/src/mock/test_remote_pull.rs
  repository/src/schema/diesel_schema.rs
  repository/src/schema/item.rs
  repository/src/schema/item_is_visible.rs
  repository/src/schema/name.rs
  repository/src/tests.rs
  server/src/sync/translation_central/item.rs
  server/src/sync/translation_central/name.rs
  server/src/sync/translation_central/test_data/item.rs
  server/src/sync/translation_central/test_data/name.rs
Labels: v1: must have, [ungrouped v1 issues], blocked by design/decision/question

#1005 987 store sync site
  graphql/general/src/queries/store.rs
  graphql/types/src/types/store.rs
  repository/migrations/postgres/2021-08-25T10-00_create_store_table/up.sql
  repository/migrations/sqlite/2021-08-20T10-00_create_store_table/up.sql
  repository/src/db_diesel/filter_sort_pagination.rs
  repository/src/db_diesel/invoice_query.rs
  repository/src/db_diesel/master_list.rs
  repository/src/db_diesel/name_query.rs
  repository/src/db_diesel/stock_movement.rs
  repository/src/db_diesel/store.rs
  repository/src/db_diesel/store_row.rs
  repository/src/db_diesel/user.rs
  repository/src/mock/store.rs
  repository/src/mock/test_master_list_repository.rs
  repository/src/mock/test_name_query.rs
  repository/src/mock/test_name_store_id.rs
  repository/src/mock/test_remote_pull.rs
  repository/src/schema/diesel_schema.rs
  repository/src/schema/mod.rs
  repository/src/schema/store.rs
  repository/src/schema/user_store_join.rs
  repository/src/tests.rs
  server/src/sync/integration_tests/remote_sync_integration_test.rs
  server/src/sync/translation_central/store.rs
  server/src/sync/translation_central/test_data/store.rs
  service/src/requisition_line/chart/mod.rs
Labels: [remote sync]

#1010 1009 add mock permission restriction for requisition mutation
  repository/src/db_diesel/user_permission.rs
  service/src/apis/permissions.rs
  service/src/permission_validation.rs
  service/src/service_provider.rs
Labels: [users and permissions]

#1013 Introduce a develop settings
  README.md
  android/src/android.rs
  configuration/local.yaml
  server/src/lib.rs
  server/src/settings.rs
  server/src/test_utils.rs
  service/src/permission_validation.rs
Labels: [users and permissions]

#1023 Remove hard coded template keys and use a template index map instead
  service/src/report/definition.rs
  service/src/report/dummy_reports.rs
  service/src/report/report_service.rs
Labels: (epic), [report printing]

#1031 Use DispositionType::Inline for the files endpoint
  server/src/static_files.rs
Labels: [ungrouped issues]
